.header{
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    background-color: aquamarine;
    align-items: center;
    padding: none;
}
.root{
    padding: none;
    margin: 0;

}
body{
    margin: 0%;
}